# ignore .bak file type
*.bak

# virtual env & pycache
.venv/
hydrogen_pfhx/__pycache__/
tests/__pycache__/

# output location
hydrogen_pfhx/output

# build directories
build/
hydrogen_pfhx.egg-info/
dist/
